body {
	background-image: url("../images/ep_naturalblack.png");
}

header {

}
#title-box {
	color: white;
	padding: 50px;
	padding-right: 25px;
	max-height: 500px;
	clear: both;
}

.container {
	overflow: auto;
}

img {
	margin-top: 70px;
	width:75%;
	height:75%;
}

#image-box {
	background-color: #1a2893;
	max-height: 

}

#gameplay {
	background-color: purple;
	float: right;
	clear: fixed;
}

#col-3 {
	background-color: #1a2893;
}

#col-4 {
	background-color: #1a2893;
}